<!DOCTYPE html>
<html ng-app="taskBoard">
  <head>
    <meta charset="UTF-8" />
    <link data-require="bootstrap-css@*" data-semver="3.2.0" rel="stylesheet" href="css/bootstrap.min.css" />
    <script src="scripts/angular.js" data-semver="1.2.17" data-require="angular.js@1.2.17"></script>
    <script src="scripts/angular-mocks.js" data-semver="1.2.17" data-require="angular-mocks@1.2.17"></script>
    <script src="scripts/angular-resource.js" data-require="angular-resource@1.2.17" data-semver="1.2.17"></script>
    <script src="scripts/jquery.js" data-semver="1.11.0" data-require="jquery@1.11.0"></script>
    <script src="scripts/ui-bootstrap-tpls-0.11.0.min.js" data-require="angular-ui-bootstrap@0.11.0" data-semver="0.11.0"></script>
    <script src="app/app.js"></script>
    <script src="app/app-backend.js"></script>
    <script src="app/services/serverDataModel.js"></script>
    <script src="app/services/HttpService.js"></script>
    <script src="app\controllers\boardController.js"></script>
    <script src="app\controllers\taskController.js"></script>
    <script src="node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="node_modules/angular-chart.js/dist/angular-chart.min.js"></script>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-controller="boardController as board" class="container-fluid">
    <div class="head">
      <div class="col-sm-2">Changelist / Build</div>
      <div class="col-sm-1">Owner</div>
      <div class="col-sm-2">Time Started</div>
      <div class="col-sm-1">State</div>
      <div class="col-sm-6">
        <div class="col-sm-3">Metrics</div>
        <div class="col-sm-3">Build</div>
        <div class="col-sm-3">Unit Test</div>
        <div class="col-sm-3">Functional Test</div>
      </div>
    </div>
    <div class="body">
      <div ng-repeat="taskInfo in tasks" 
      class="col-sm-12 task-content {{ taskInfo.state }}" 
      ng-controller="taskController as task"
      ng-click="openTask.call(taskInfo, tasks)">
        <ng-include src="'templates/task/info.html'"></ng-include>
      </div>
    </div>
  </body>
</html>
